.amf.registration.portlet {
}

.panel-title {
  font-weight: bolder;
  font-size: larger;
  color: #0b5fff;
  margin-left: 20px !important;
  margin-top: 10px !important;
}

.field-group-title {
  margin-left: 50px !important;
}

.costume-control-label-gender {
  margin-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 2px;
}

.profile-card {
  width: 300px;
  height: 400px;
}

.amf-search-container {
  width: 1280px !important;
  margin: auto;
}

.amf-search-container > div#amf-user-search-input {
  width: 310px;
  margin-top: 30px;
  position: absolute;
  border: none;
  background-color: transparent;
}

.amf-search-container > div.main-content-body {
  width: 895px;
  margin-left: 25%;
}

.amf-search-container > div.lfr-search-container-wrapper {
  margin-top: 20px;
  width: 895px;
  margin-left: 25%;
}

.amf-search-container > div#search-panel {
  width: 310px;
  margin-top: 20px;
  position: absolute;
  background-color: transparent;
  border: solid 1px lightgrey;
  height: 76%;
  border-radius: 4px;
}

#search-panel > label {
  font-size: smaller;
  color: #6b6c7e;
  font-weight: 500;
  margin-top: 13px !important;
  margin-left: 10px;
}

