.amf.newsletter.portlet {

}

.issue-release-title {
  font-weight: 400;
  background-color: transparent !important;
  border: none !important;
  color: cornflowerblue !important;
}

.issue-release-title:hover {
  text-decoration: underline !important;
  cursor: pointer;
}


.issue-title {
  font-weight: bold;
  font-size: large;
  color: cornflowerblue !important;
}

.issue-month-tab-title {
  color: cornflowerblue;
  font-size: medium;
  font-weight: 500;
}

.issue-month-tab-title > div.panel-heading {
  width: 100% !important;
  padding-left: 20px;
}

.issue-month-tab-title > div.toggler-content-wrapper {
  margin: 0px;
  padding: 0px;
}

.issue-month-tab-container > div > div > div > table {
  border: solid white 1px !important;
  width: 96.5% !important;
}

.container-fluid-adjust {
  margin-left: -36px !important;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 37px;
}

.container-fluid-adjust > div.panel-group {
  margin-bottom: 10px;
}

.article-title {
  font-weight: 403;
  font-size: larger;
  margin-left: 20px;
  background-color: transparent !important;
  border: none !important;
  color: cornflowerblue !important;
}

.article-title:hover {
  text-decoration: underline !important;
  cursor: pointer;
}
