.amf.newsletter.portlet {

}

.issue-release-title {
  color: deepskyblue;
  font-weight: 400;
}

.issue-title {
  font-weight: bold;
  font-size: larger;
  color: cornflowerblue;
}

.issue-month-tab-title {
  color: cornflowerblue;
  font-size: medium;
  font-weight: 500;
}

.issue-month-tab-title > div.panel-heading {
  background-color: lightskyblue;
  width: 100% !important;
  padding-left: 20px;
}

.issue-month-tab-title > div.toggler-content-wrapper {
  margin: 0px;
  padding: 0px;
}

.issue-month-tab-container > div > div > div > table {
  border: solid white 1px !important;
  margin-left: 2%;
  width: 96.5% !important;
}

.container-fluid-adjust {
  margin-left: -36px !important;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 37px;
}

.container-fluid-adjust > div.panel-group {
  margin-bottom: 10px;
}

.article-title {
  font-weight: 403;
  color: deepskyblue;
  font-size: larger;
  margin-left: 20px;
}